---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { i18n } from '../../i18n';

const lang = 'zh';
const t = i18n[lang].pages;
---

<BaseLayout lang={lang} title={t.aboutTitle} description={t.about}>
	<article class="prose dark:prose-invert lg:prose-lg mx-auto">
		<h1>{t.aboutTitle}</h1>
		<p>博主系河东人士，曾求学于蜀中，现于东北读研，欲往江南烟雨中去。</p>
		<p>
			作为一个尝试主义者，在好奇心的驱使下总是在努力敲新世界的大门，但大多浅尝辄止，常年不务“正业”，耽于搞事。
		</p>

		<h3>技能树</h3>
		<p>个人天赋树构成大约是10%EE+10%CS+10%辩论+70%娱乐项目。</p>
		<ul>
			<li>
				<strong>EE</strong>:
				不多说了，嵌入式软硬件粗通，通信略懂，皆堪称稀松，只好强行解释曰：学习是一种经历。
			</li>
			<li><strong>CS</strong>: 点了OI+javaweb+图像处理三个方向。</li>
			<li>
				<strong>辩论</strong>:
				辩才有碍，但靠着老实本分兢兢业业执掌校辩队一年，达成成就：带队在川渝各高校旅游多次。
			</li>
		</ul>

		<h3>兴趣爱好</h3>
		<p>娱乐项目无师自通，ACG全方位涉猎。</p>
		<ul>
			<li>
				小学沉迷古金，四五年级开始接触网络之后转投二次元阵营，沉迷网络小说和霓虹动漫，现又掉入了日剧的坑难以自拔。
			</li>
			<li>
				<strong>游戏</strong>:
				英雄联盟S1玩家，但是S3才勉勉强强打出自己的第一个30级账号；Dota体验玩家，具有“高中在实验室开黑内战都不能窝里横”的强劲实力，遂弃；WOW70年代难民法师，85年代初期公会最强（因为当时公会就一个法师），后来本科开学AFK了；钟情于剧情类单机游戏，修改器资深使用者，江湖人称“不开挂不能玩君”。
			</li>
		</ul>

		<h3>其他</h3>
		<ul>
			<li>
				高中以前与其说是吃货不如说是饭桶，经过本科时期四海云游到处蹭饭的丰富经历，养小了胃，养刁了嘴。
			</li>
			<li>努力在做一个段子手，但是好多年过去了，也没有红。</li>
			<li>
				虽然购物时的审美经常被说是少女心，但是你们不觉得，我买的这些东西真的很萌么？！
			</li>
			<li>
				想养一只猫，名字都想好了，就叫阿宵，奈何条件有限，所以目前在微博云养猫，觊觎郭斯特家的狐狸和馒头。
			</li>
		</ul>
		<p>想到什么再补充好了，就酱。</p>
	</article>
</BaseLayout>
